.map{
	height: 400px;
}

@media only screen and (max-width: 769px) {
   .map{
   		height: 300px;
   }
}

.fullscreen:-moz-full-screen {
height: 100% !important;
}
.fullscreen:-webkit-full-screen {
height: 100% !important;
}
.fullscreen:-ms-fullscreen {
height: 100% !important;
}

.fullscreen:fullscreen {
height: 100% !important;
}

.fullscreen {
margin-bottom: 10px;
width: 100% !important;
}

.loading{
  position: absolute;
  margin: auto;
  top: 41%;
  left: 0;
  right: 0;
  z-index: 99999;
}